:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  min-height: 0; /* Prevent flex items from overflowing */
}

.scrollable-col {
  height: 100%;
  overflow-y: auto;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-group-item.active {
  background-color: rgba(0, 123, 255, 0.5) !important; 
  border-color: rgba(0, 123, 255, 0.5) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.card-hover {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
